include header
div(class="conteneur")
  div(class='ui  message')
    div(class='header')
      h1(class='') Bonjour #{username} !
div(class='conteneur')
  div(class='ui form')
    a(href="logout"): button( class='ui olive button' type="button") Déconnexion