include header
div(class='conteneur')
  a( class='ui olive icon labeled big button' href='signup') Inscription
    i(class='signup icon')
  a( class='ui olive icon labeled big button' href='login') Connexion
    i(class='sign-in icon')  
    