include header
h1#titre(class='ui header') Connexion 
  i(aria-hidden="true" class='sign-in icon')
div(class="ui container")  
  div#form(class='ui form')
    form(action="/login", method="post")
      div(class='field')
        label Identifiant
        div(class='ui input')
          input(type="text", name="username", placeholder="Identifiant", required)
      div(class='field')    
        label Password
        div(class='ui input')
          input(type="password", name="password", placeholder="Mot de passe", required="required") 
      div(class='field')     
        input( class='ui olive right floated button' type="submit" value='Envoyer')
        
      
        